<div class="order-summary jumbotron">
  <h4>About this amazing Jungle</h4>
  <p>Go fer a skate, bud. It's a tough one. Obviously uhh Get on your horse bud! Obviously A good outlet pass. Trust the process.</p>
  <p>Put some sauce on that pass. We wanna move the puck north south not east west. Obviously uhh Go fer a skate, bud. High forward. Obviously uhh That puck's got eyes.</p>
</div>